.homePage{
    position: relative;
    background-color:  $greenBg;
    .topLayout{
    position: relative;
    z-index: 1;
    .commingBar{
        @extend %gold-bg;
    display: flex;
   justify-content: center;
    align-items: center;
    text-transform: uppercase;
   
    font-size: 1.3rem;
  
    .commingTitle,.times{
        width: 270px;
        height:50px;
    }
    .commingTitle{
        line-height: 50px;
        position: relative;
        padding-right:1rem;
        
    
    }
    .prayerName{
   padding: 0 10px;
  
    }
   .times{
    position: relative;
    line-height: 50px;
  
   
    }
    .svgArrow{
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        }
    }
    }

    .homeColunm{
  
      .todayIs{
        text-transform: uppercase;
          color: #fff;
         
              margin: 20px 0;
            
              border-radius: 20px;
              border: 2px solid #CDDC39;
              background-color: #013a01;
              .titleIs{
                border-radius: 20px;
                  font-size: 1.3rem;
                  background: #161e4a;
                  line-height: 45px;
                  color: aliceblue;
                  border-bottom: 2px solid #CDDC39;
              }
            .textIs{
                border-radius: 15px;
                line-height: 30px; 
                font-size: 1.1rem;
                border-bottom: 2px solid #cddc39;
            }
          
      }
    }
  
.svgStyle{
background: #cddc39;
width: 100%;
height: 100vh;
top: 0;
position: absolute;
.svgitemOne,.svgitemTwo{
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
}
.svgitemOne{
background-color: green;
clip-path: polygon(50% 55%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.svgitemTwo{
    background-color: #161e4a;
clip-path: polygon(50% 50%, 0 0, 100% 0);
   
    }
}

.allSalah{
    width: 100%;
    background: #161e4a;
    border: 2px solid #cddc39;
    text-transform: uppercase;
    border-radius: 25px;
    .titleIs{
    border-radius: 25px;
    background-color: green;
    color: aliceblue;
    line-height: 50px;
    font-size: 1.3rem;
    border-bottom: 2px solid #cddc39;
    
    }
    ul{
     
    margin: 0;
    padding: 0;
   
    color: wheat;
    li{

    line-height: 30px;
    border-radius: 20px;
    border-bottom: 1px solid goldenrod;
    display: flex;
    justify-content: space-between;
    span{
    flex: 1;
    }
    &:last-child{
    border-bottom: 1px solid black;
    }
    &.moreSalah{display: flex;justify-content: center;border-radius: 20px;
    }
   
        
        }
    }
    
    
    }


.locationName{
   @extend %gold-bg;
display: flex;
justify-content: center;
line-height:2rem;
font-size: 1.3rem;
padding: 0.5rem 0;
flex-wrap: wrap;
text-transform: uppercase;
}








    @include xs { 
        .topLayout{
        .commingBar{
            flex-wrap: wrap;
            svg{
                display: none;
            }
            border-radius: 50px;
            .commingTitle{
               width: 100%;
               background-color: #161e4a;
               color: #ffff;
               border-radius: 50px;
               
            }
        .prayerName,.times{
            width: 50%;
        }
        }

        }
        
        }
        

@include sm-up { 
.svgStyle{
    .svgitemOne{
        clip-path: polygon(5% 100%, 100% 100%, 100% 5%);
        }
        .svgitemTwo{
            clip-path: polygon(0 95%, 0 0, 95% 0); 
          
            }

}

}
//@include md { grid-template-columns: repeat(3, 1fr);}






      }
  
  